@media (max-width:768px) {
  .container {
    max-width: 700px;
  }
.header__nav {
  display: none;
}
.burger {
  display: block;
}
.burger__nav {
  position: absolute;
  background-color: var(--color-warn);
  left: 0;
  top: -200px;
  width: 100%;
  padding: 20px;
  transition: .6s;
  color: var(--main-color);
}
.burger__link {
  display: block;
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}
#burger:checked ~ .burger__nav {
  top: 54px;
}
.grid__cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.grid__cards {
  max-width: 100%;
}
.card__img {
  max-width: 100%;
}

}

@media (max-width:390px) {
  .container {
  max-width: 370px;
  }

  .header__nav {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger__nav {
    position: absolute;
    background-color: var(--color-warn);
    left: 0;
    top: -200px;
    width: 100%;
    padding: 20px;
    transition: .6s;
    color: var(--main-color);
  }
  .burger__link {
    display: block;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  #burger:checked ~ .burger__nav {
    top: 54px;
  }
  .grid__cards {
    display: grid;
    grid-template-columns: 1fr;
    
  }
  .hero__text {
    padding-top: 20px;
  }
  .hero__title {
    font-size: 23px;
  }
  .hero__cards {
    display: grid;
    grid-template-columns: 1fr;
  }
  .hero__cards-sm {
    display: block;
    padding-left: 10px;
    text-align: center;
}
  .img {
    width: 200px;
    height: 100%;
  }
  .cards__text {
    text-align: center;
  }
  .cards__title {
    text-align: center;
  }
  .cards__desc {
    text-align: center;
  }
}